

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.user_id %></td>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= link_to 'Show', user_note_path(id: note.id, user_id: note.user_id) %></td>
        <td><%= link_to 'Edit', edit_user_note_path(id: note.id, user_id: note.user_id) %></td>
        <td><%= button_to 'Destroy', user_note_path(id: note.id, user_id: note.user_id), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_user_note_path %>
