<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<%= link_to 'Edit', edit_user_note_path(id: @note.id, user_id: @note.user_id) %> |
<%= link_to 'Back', user_notes_path(user_id: current_user) %>
