<!DOCTYPE html>
<html>
  <head>
    <title>Forum <%= yield :thredded_page_title %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%= stylesheet_link_tag 'thredded', 'data-turbolinks-track': 'reload' %>
    <!-- Style dependencies -->
    <link href="https://unpkg.com/normalize.css@^8.0.1" rel="stylesheet" />
    <!-- Blueprint stylesheets -->
    <link href="https://unpkg.com/@blueprintjs/icons@^4.0.0/lib/css/blueprint-icons.css" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/core@^4.0.0/lib/css/blueprint.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag('application') %>
    <%= javascript_include_tag 'thredded',
                               async: !Rails.application.config.assets.debug,
                               defer: true,
                               'data-turbolinks-track': 'reload' %>
    <%= RailsGravatar.prefetch_dns_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body class="thredded-outer-body" data-controller="annotation">
    <%= render('layouts/partials/navbar') %>
    <%= yield %>
    <%= javascript_include_tag('chat') %>     <%# This has to be in the body instead of the head? %>
    <div id="react-chat-container"></div>
    <div class="hidden-none-display">
      <%= form_tag('/notes', remote: true, data: { 'annotation-target': 'form' }) do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= text_field(:note, :user_id, value: current_user.id) %>
        <%= text_field(:note, :title, value: 'Annotation') %>
        <%= text_field(:note, :tags, data: { 'annotation-target': 'tags'}) %>
        <%= text_field(:note, :content, data: { 'annotation-target': 'annotationPayload' }) %>
      <% end %>
    </div>
  </body>
</html>
