

<p>
  <strong>Due:</strong>
  <%= @reminder.due %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @reminder.excerpt %>
</p>

<p>
  <strong>User:</strong>
  <%= @reminder.user_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @reminder.type %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', user_reminders_path(current_user) %>
