<ul>
  <li><%= link_to('Users', Rails.application.routes.url_helpers.admin_users_path) %></li>
  <li><%= link_to('Tags', Rails.application.routes.url_helpers.admin_tags_path) %></li>
  <li><%= link_to('Posts', Rails.application.routes.url_helpers.admin_posts_path) %></li>
  <li><%= link_to('Notes', Rails.application.routes.url_helpers.admin_notes_path) %></li>
  <li><%= link_to('Collections', Rails.application.routes.url_helpers.admin_collections_path) %></li>
  <li><%= link_to('Bookmarks', Rails.application.routes.url_helpers.admin_bookmarks_path) %></li>
  <li><%= link_to('Reminders', Rails.application.routes.url_helpers.admin_reminders_path) %></li>
</ul>