<p id="notice"><%= notice %></p>
<div class="flex justify-apart">
  <span>
    <strong>Email:</strong>
    <%= @user.email %></span>
  <span>
    <%- if current_user&.admin %>
      <%= link_to 'Edit', edit_user_path(@user) %>
    <%- end %>
    <%= link_to 'Back', users_path %>
  </span>
</div>
<div class="<%= current_user == @user ? 'dont-hide-actions' : 'hide-actions' %>">
  <%- posts = Thredded.posts_page_view(scope: @user.thredded_posts.order_newest_first.limit(5), current_user: current_user) %>
  <%= Thredded::ApplicationController.render(partial: 'thredded/users/posts', locals: { posts: posts })%>
</div>
