<%= form_with(model: [current_user, tag], local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <%= form.fields_for :object_links do |subject_subform| %>
    <div class="field">
      <p>Link this tag to another:</p>
      <%= subject_subform.label :new_related_tag %>
      <%= subject_subform.text_field :new_related_tag %>
      <%= subject_subform.label :existing_related_tag %>
      <%= subject_subform.select :existing_related_tag, current_user.tags, {}, { multiple: true } %>
    </div>

  <%- end %>
  <div class="field hidden-none-display">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
