    
<div class="flex justify-apart">
  <span class="flex">
    <div class="button-like">
      <a href="/">InvolvedTowns Forums</a>
    </div>
    
    <details>
      <summary class="button-like">StackBiblio</summary>
      <ul>
        <li><%= link_to('My Note Library', '/library') %></li>
        <li><%= link_to('My Note Stack', '/stack') %></li>
        <%- if current_user %>
          <li><%= link_to('My Tags', Rails.application.routes.url_helpers.user_tags_path(user_id: current_user.id)) %></li>
        <%- end %>
      </ul>
    </details>
    <%- if current_user&.admin %>
      <details>
        <summary class="button-like">Admin</summary>
        <ul>
          <li><%= link_to('Users', Rails.application.routes.url_helpers.admin_users_path) %></li>
          <li><%= link_to('Posts', Rails.application.routes.url_helpers.admin_posts_path) %></li>
        </ul>
      </details>    
    <%- end %>
  </span>
  <span>  
    <a class="button-like" href="/about">About</a>
    <a class="button-like" href="/users">Users</a>
    <%- if(current_user) %>
      <%= link_to('Profile', '/me', class: 'button-like') %>
    <%- end %>
  </span>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
