
<div class="flex justify-apart">
  <span class="flex">
    <a class="button-like" href="/">TownHalls</a>
     <%= link_to('Library', Rails.application.routes.url_helpers.library_path, class: "button-like") %>
     <%= link_to('Stack', '/stack', class: "button-like") %>
    <%- if current_user&.admin %>
       <%= link_to 'Admin', Rails.application.routes.url_helpers.admin_path, class: "button-like" %>
    <%- end %>
  </span>
  <span>
    <a class="button-like" href="/about">About</a>
    <a class="button-like" href="/users">Users</a>
    <%- if(current_user) %>
      <%= link_to('Profile', '/me', class: 'button-like') %>
    <%- end %>
  </span>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
