    
<div class="flex justify-apart">
  <span class="flex">
    <a class="button-like" href="/">InvolvedTowns Forums</a>
    <details>
    <summary class="button-like">StackBiblio</summary>
    <ul>
      <li><%= link_to('My Note Library', '/library') %></li>
      <li><%= link_to('My Note Stack', '/stack') %></li>
      <li><%= link_to('My Tags', Rails.application.routes.url_helpers.user_tags_path(user_id: current_user&.id)) %></li>
    </ul>
    </details>
  </span>
  <span>  
    <a class="button-like" href="/about">About</a>
    <a class="button-like" href="/users">Users</a>
    <%- if(current_user) %>
      <%= link_to('Profile', '/me', class: 'button-like') %>
    <%- end %>
  </span>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
