<!DOCTYPE html>
<html>
  <head>
    <title>Involvedtowns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/bonsai.css@latest/dist/bonsai.min.css" rel="stylesheet">
    <link href="https://unpkg.com/normalize.css@^8.0.1" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/icons@^4.0.0/lib/css/blueprint-icons.css" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/core@^4.0.0/lib/css/blueprint.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'thredded', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class=<%=  @page_name || 'default_page_type' %>>
    <p id="notice"><%= notice || alert %> </p>
    <%= render('layouts/partials/navbar') %>
    <%= yield %>
    <%= turbo_frame_tag('turbo-chat') do %>
      <a href="/messaging">
        <details class='chat-toggle'>
          <summary>
            <span>
              <h2 class='auto-margin'>Note Stack</h2>
            </span>
          </summary>
        </details>
      </a>
    <%- end %>
</body>
</html>
