<!DOCTYPE html>
<html>
  <head>
    <title>Involvedtowns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Style dependencies -->
    <link href="https://unpkg.com/normalize.css@^8.0.1" rel="stylesheet" />
    <!-- Blueprint stylesheets -->
    <link href="https://unpkg.com/@blueprintjs/icons@^4.0.0/lib/css/blueprint-icons.css" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/core@^4.0.0/lib/css/blueprint.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'thredded', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag('application', 'data-turbolinks-track': 'reload') %>
  </head>
  <body>
    <%= render('layouts/partials/navbar') %> 
    <%= yield %>
    <%= javascript_packs_with_chunks_tag('chat') %>     <%# This has to be in the body instead of the head? %>
    <div id="react-chat-container"></div>
  </body>
</html>
